# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.code-workspace

sql_app.db

# C extensions
*.so

# Skyline console
skyline_console

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
AUTHORS
ChangeLog

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.mypy_cache/

# Translations
*.mo
*.pot

# Flask stuff:
.webassets-cache

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Development
.vscode/
/log/
tmp/
test_results.html
nginx.conf
mypy-report/
doc/build
doc/source/_static

# MAC OS
.DS_Store
.idea
